/* color pallete */
/* dark theme
primary_color: #003135,
light_dark: #024950,
brown_color: #964734,
primary_blue: #0FA4AF,
default theme
primary_white: #AFDDE5 */



/* Open Sans: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

Montserrat: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Roboto: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
Roboto Slab: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Quicksand: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


.font1{
  font-family: "Quicksand", serif;
}
.font2{
  font-family: "Roboto Slab", serif;
}
.font3{
  font-family: "Roboto", serif;
}
.font4{
  font-family: "Montserrat", serif;
}
.font5{
  font-family: "Open Sans", serif;
}